In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("./EEG-dummy-data.csv") 
data.head()

,P7,P4,Cz,Pz,P3,P8,O1,O2,T8,F8,C4,F4,Fz,C3,F3,T7,F7,time
0,-11254952,30495862,11319807,72731904,43899185,4891972,25779773,1680708,20743722,37207976,20308773,40423000,35259699,-400000047,21398852,-17949480,20976181,1.535627e+12
1,-11255031,30494362,11320033,72730763,43898897,4891936,25777034,1680516,20742914,37205421,20307657,40420656,35257460,-400000047,21396945,-17950437,20974452,1.535627e+12
2,-11251443,30499042,11324859,72737041,43903810,4897398,25783658,1684883,20747967,37210296,20310366,40423798,35260730,-400000047,21399379,-17946928,20978164,1.535627e+12
3,-11257843,30493954,11319837,72732610,43898489,4893021,25778208,1679600,20742842,37204687,20305874,40417231,35254766,-400000047,21392484,-17954941,20971092,1.535627e+12
4,-11259273,30495027,11321271,72733970,43897945,4893644,25776749,1679298,20743923,37204569,20305633,40416733,35252675,-400000047,21392377,-17955492,20969137,1.535627e+12

In [4]:
p3 = data["P3"] / 1e9